/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav li {
  margin: 0 20px;
}

.add-recipe form {
  display: flex;
  flex-direction: column;
}

.add-recipe label {
  margin-bottom: 10px;
}

.add-recipe input,
.add-recipe textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-recipe button[type="submit"] {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.home h2 {
  text-align: center;
}

.recipe-card {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.recipe-card img {
  max-width: 100%;
}

.recipe-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.recipe-card p {
  margin: 0;
}
